/***
*		Mujahid Maqsood
*		ID: 100939220
*/

body {
	background-color: darkgrey;
}

h1 {
	color: red;
	font-size: x-large;
}

.card {
	width: 75px;
	height: 75px;
	background-color: blue;
	border-radius: 4px;
    border: 2px solid white;
}

.card.active {
	background-color: white !important;
	font-color: black;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}